.mainfooter{
    font-family: 'Nunito', sans-serif;
    height: auto;
    background-color: #0e2a47;
    /* border: 2px solid red; */
}

.mainfooter a{
    color: #869fb2;

}

.mainfooter a:hover{
    text-decoration: none;
}

.footerwhydiv{
    /* border: 2px solid rebeccapurple; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1%;
    /* background-image: linear-gradient(to right, rgb(12, 84, 152), rgb(34, 137, 221)); */
    color: #7fa4c0;
    background-color: #08192b;
}

.footerlogodiv{
    /* border: 2px solid olive; */
    width: 30%;
    text-align: left;
}

.footerwhatparadiv{
    /* border: 2px solid orange; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.whatheadingdiv{
    /* border: 2px solid seagreen; */
    text-align: left;
}

.whatparadiv{
    /* border: 2px solid navy; */
    text-align: left;
    /* width: 70%; */
}

.linksfooterdiv{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1%;
    color: white;

}

.footercourses1{
    text-align: left;
    /* border: 2px solid seagreen; */
    /* margin: 5%; */
}

.footerworklinks1{
    text-align: left;
    /* border: 2px solid seagreen; */
    /* margin: 5%; */
    
    text-decoration: none;
}
.footerworklinks1 li{
    list-style: none;
    text-align: left;
    /* border: 2px solid seagreen; */
}

.footerk12courses1 li{
    list-style: none;
    text-align: left;
    /* border: 2px solid seagreen; */
}

.footercourses1 li{
    list-style: none;
    text-align: left;
    /* border: 2px solid seagreen; */
}

.footerk12courses1{
    text-align: left;
    /* border: 2px solid seagreen; */
    /* margin: 5%; */
}


.footercourses1 h3{
    font-size: x-large;
}

.footerk12courses1 h3{
    font-size: x-large;
}

.footerworklinks1 h3{
    font-size: x-large;
}

.footersocialdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 2px solid hotpink; */
    /* padding: 1%; */
    /* background-image: linear-gradient(to right, rgb(12, 84, 152), rgb(34, 137, 221)); */
    color: white;
    background-color: #08192b;
    /* padding: 1%; */
    
}

.contactseactiondiv{
    /* border: 2px solid hotpink; */
    
}

.copyrightdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footersocialdiv p{
    font-size: medium;
    /* border: 2px solid hotpink; */
    /* position: relative; */
    /* top: 10px; */
    margin: 0px;
    padding: 10px;
}

.copyrightdiv{
    /* border: 2px solid red; */
    padding: 4px;
}




#footer {
    background-color: #08192b;
    color: #869fb2;
    padding-top: 50px;
    font-size: 14px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.mg-none {
    margin: 0;
}

#footer .footer__social {
    text-align: right;
}

.mg-bottom-lv4-i {
    margin-bottom: 30px!important;
}
